/*Global Styles*/
body {
    background: whitesmoke;
}

/*links*/
a {
    color:rgb(0, 42, 255);
}
a:hover {
    color:rgb(128 128 128);
}
section a:hover {
color:orange ;
}

.btn {
    background: olive;
    color: whitesmoke;
    text-decoration: none;
}
/*Home */
.home {
    background: url(../images/joanna-kosinska-unsplash.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}

.content-wrapper{
    background: rgb(128 128 128 / 0.6);
}
/*Header */

/*Featured Projects */

/*Work Experience */

/* Education */

/* Footer */
footer{
    background: orange
}
